<%= form_for @job, :html => { multipart: true} do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: "20", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  <div class="form-group input_fields_wrap">
    <%= f.fields_for :images do |g| %>
      <%= g.label :image, "Image" %><br>
      <%= g.file_field :image %>
    <% end %>
  </div>
  <div class="form-group">
    <button class="add_field_button">Add More Fields</button>
  </div>
  <%= f.submit "Create Job", class: "btn btn-default" %>
<% end %>
