<%= form_for @job, :html => { multipart: true} do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :closing_date %><br>
    <%= date_select("job", "closing_date", {start_year: Date.today.year, prompt: { day: 'day', month: 'month', year: 'year' }}, {class: "btn btn-default"}) %>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: "20", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: "form-control" %>
  </div>

  <%= f.submit "Create Job", class: "btn btn-primary btn-sm" %>
<% end %>
