<div class="container content">
  <p id="notice"><%= notice %></p>

  <div class="blog-header">
    <h1 class="blog-title">Abbiomat Blog</h1>
    <p class="lead blog-description">Some kind of description about the blog</p>
  </div>

  <%= will_paginate @posts %>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <% @posts.each do |post| %>
        <div class="blog-post">
          <h2 class="blog-post-title"><%= link_to post.title, post %></h2>
          <p class="blog-post-meta"><%= post.created_at.strftime("%B %d, %Y") %></p>
          <%= truncate(post.body) %>
          <% if user_signed_in? and current_user.admin %>
            <div>
              <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-default btn-sm"   %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"   %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? and current_user.admin %>
    <%= link_to 'New Post', new_post_path, :class => "btn btn-default btn-sm" %>
  <% end %>
</div>
