<div class="row">
  <div class="blog-post">
    <h2 class="blog-post-title">
      <%= link_to @post.title, @post %>
      <small>
        <% if user_signed_in? and current_user.admin %>
          <%= link_to edit_post_path(@post) do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        <% end %>
      </small>
    </h2>
    <p class="blog-post-meta"><%= @post.post_date.strftime("%B %d, %Y") %></p>
    <%= markdown(@post.body) %>
  </div>
</div>

<div class="row">
  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="links">
    <% @post.post_images.each do |i| %>
      <a href="<%= i.image.url %>" data-gallery>
        <%= image_tag i.image.url(:thumb) %>
      </a>
    <% end %>
  </div>
</div>

