<!DOCTYPE html>
<html>
<head>
  <title>Abbiomat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="padding:0px 10px 0px 10px">
          <%= image_tag "cbs_logo.jpg", :style => "height: 50px" %>
        </a>
      </div>
    </div>
  </nav>

<%= yield %>

</body>
</html>
